@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #000000;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  padding: 0;
  margin: 0;
  font-size: inherit;
  text-decoration: none;
  /*&:hover {
  }*/
}

h1,
h2,
h3,
h4,
h5,
h6,
li {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

input {
  outline: none;
  :focus {
    outline: none;
  }
}

.container {
  max-width: 1074px;
  padding: 0 25px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;

  .logo {
    width: 120px;
    height: auto;
  }

  .basket {
    width: 40px;
    height: 40px;
    border: 1px solid #767272;
    border-radius: 50%;
    padding: 9px;

    img {
      width: 100%;
    }
  }
}

.banner {
  width: 100%;

  img {
    width: 100%;
    object-fit: contain;
  }
}

.search_panel {
  width: 100%;
  height: 60px;
  margin: 32px 0;
  padding: 10px;
  display: flex;
  border: 1px solid #dddada;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;

  .search_icon {
    width: 20px;
    height: 20px;
    margin: 10px 25px 10px 13px;
  }
  .search_field {
    width: 80%;
    border: 0 solid #fff;
    margin-right: auto;
  }
  .filters_btn,
  .settings_btn {
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 13px;
    background: #0e49b5;
  }

  .settings_btn img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7452%)
      hue-rotate(351deg) brightness(102%) contrast(104%);
  }
}

.content {
  display: flex;
  margin: 8px 0;
}

.filters {
  position: relative;
  width: 320px;
  height: 500px;
  margin-right: 64px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  flex-shrink: 0;

  .filter {
    .filter_title {
      display: flex;
      justify-content: space-between;
      padding: 10px 30px;
      border-bottom: 1px solid #dddddd;

      img {
        width: 20px;
        height: 20px;
      }
    }

    .filter_content {
      padding: 23px 30px;
      border-bottom: 1px solid #dddddd;

      .row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        input {
          width: 190px;
          padding: 8px;
          border: 1px solid #e2e2e2;
          border-radius: 5px;
          margin-bottom: 16px;
        }
      }

      .checkbox {
        display: inline-block;
       width: 49%;

      }
    }
  }
}

.items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -8px;
}

.card {
  position: relative;
  margin: 0 8px 25px;

  width: 300px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  text-align: center;

  .card_content {
    padding: 14px;
    .photo {
      margin: 0 auto;
      width: 200px;
      height: 200px;

      img {
        object-fit: contain;
      }
    }

    .title {
      font-size: 24px;
      font-weight: 700;
      margin-top: 25px;
    }

    .stock_status img {
      filter: brightness(0) saturate(100%) invert(78%) sepia(30%)
        saturate(7047%) hue-rotate(82deg) brightness(93%) contrast(88%);
      border: 1px solid green;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      padding: 1px;
      margin: 0 6px 0 -12px;
      vertical-align: sub;
    }

    .stock_status,
    .price {
      margin: 10px 0;
      font-size: 14px;
      font-weight: 400;
      color: #767272;
    }

    .add_button {
      display: inline-block;
      padding: 14px 25px;
      background-color: #0e49b5;
      border-radius: 5px;
      font-size: 20px;
      font-weight: 400;
      color: #ffffff;
      text-align: center;
    }
  }

  .card_statistics {
    width: 100%;
    padding: 19px 14px 29px;
    background: #dae2ea;
    border-radius: 0 0 10px 10px;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #3b3e66;

    .statistic_like {
      width: 20px;
      height: 20px;
      filter: brightness(0) saturate(100%) invert(43%) sepia(35%)
        saturate(1493%) hue-rotate(318deg) brightness(98%) contrast(94%);
    }

    .reviews {
      width: 100%;
      text-align: left;
      padding: 0 12px;
    }
  }
}
